.pics{
    display: flex;
    height: 80%;
    justify-content: space-around;
    margin-top: 40px;
}

.leftPix{
    width: 35%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.rightPix{
    width: 60%;
    height: 90%;
    display: flex;
    justify-content: space-around;
}

.leftPix img{
    height: 45%;
    width: 100%;
}

.rightPix img{
    height: 100%;
    width: 40%;
}