.s8left {
    width: calc(50% - 40px);
    margin-right: 40px;
    display: inline-block;
    float: left;
}

.s8left pre {
    height: 500px;
}
.slide8 h2 {
    line-height: 40px;
}

.s8right pre{
    height: 70px;
    margin-bottom: 0px;
    border-bottom: 1px solid white;
}

#chart1 {
    width: 100%;
    height: 430px;
}

select {
    border: 1px solid white;
    color: white;
    font-size: inherit;
    background:none;
    border-radius: 4px;
    margin-left: 12px;
}

.content {
    padding-left: 24px;
}

.content a {
    color: lightblue;
}

li {
    margin-left: 16px;
    font-size: 20px;
    line-height: 1.5;
}

.sectionHeader {
    margin-top: 40px;
    margin-bottom: 8px;
}

.picturePanels {
    height: 240px;
    width: 100%;
    display: flex;
}

.picturePanel {
    margin: 0px 16px 16px 16px;
}

.picturePanel h3 {
    margin-bottom: 4px;
}