.slide2 .content{
    padding-left: 80px;
}

.content ul li{
    padding: 8px;
}

.slide2 h3{
    padding-top: 20px;
}

.slide2{
    font-size: 1.6vw;
}

a{
    color: white !important;
}

.hs{
    width: 15%;
    position: absolute;
    top: 160px;
    left: 80%;
    /* transition: transform .5s ease; */
}

.hs2{
    top: 55%;
}

.lefter{
    /* transform: translateX(-470%); */
}

.hs2 img{
}

.cap{
    position: relative;
    text-align: center;
    margin-top: 12px;
}

.slide2 img{
    border-radius: 10000px;
    width: 100%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

@keyframes wave{
    0%{
        transform: rotate(-5deg)
    }
    50%{
        transform: rotate(10deg)
    }
    100%{
        transform: rotate(-5deg)
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.first, .second, .third{
    animation: fadeIn .5s ease forwards;
    opacity: 0;
}

.second{
    animation: fadeIn .5s ease forwards;
    opacity: 0;
} 