.slideshow{
  font-family: 'Ubuntu', sans-serif;
  background-color: #292d30;
  height: 100%;
  width: 100%;
  position: absolute;
  color: white;
}
body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;  
  overflow: hidden;
}

.forwardBack{
  position: fixed;
  bottom: 40px;
  display: flex;
  right: 40px;
  align-items: center;
  width: 140px;
  justify-content: space-around;
}

.forwardBack button{
  width: 40px;
  height: 40px;
  background-size: 32px;
  border: 1px solid black;
  filter: invert(100%);
  border-radius: 40px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-position-y: 4px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9JzMwMHB4JyB3aWR0aD0nMzAwcHgnICBmaWxsPSIjMDAwMDAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjAiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAwIDEwMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGcgZGlzcGxheT0ibm9uZSI+PHJlY3QgeD0iMCIgeT0iMC4wMTUiIGRpc3BsYXk9ImlubGluZSIgZmlsbD0iIzAwMDAwMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiPjwvcmVjdD48L2c+PGc+PHBhdGggZD0iTTIxLjM2NCw0Mi4yMThsMjQuMzI5LDI0LjMyOWMwLjAyNiwwLjAyNywwLjAzNCwwLjA2NSwwLjA2MSwwLjA5MWMxLjE0NiwxLjE0NiwyLjY1OSwxLjcxNSw0LjE3LDEuNzExICAgYzEuNTExLDAuMDA0LDMuMDIzLTAuNTY0LDQuMTctMS43MTFjMC4wMjctMC4wMjcsMC4wMzQtMC4wNjQsMC4wNjEtMC4wOTFsMjQuMzI5LTI0LjMyOWMyLjI4NS0yLjI4NSwyLjI4NS02LjAyNCwwLTguMzA4ICAgcy02LjAyNC0yLjI4NS04LjMwOCwwTDQ5LjkyMyw1NC4xNjFMMjkuNjcyLDMzLjkxYy0yLjI4NS0yLjI4NS02LjAyNC0yLjI4NS04LjMwOCwwUzE5LjA3OSwzOS45MzQsMjEuMzY0LDQyLjIxOHoiPjwvcGF0aD48L2c+PC9zdmc+");
  cursor: pointer;
  outline: none;
}

.forwardBack button:disabled{
  opacity: .6;
  cursor: default;
}

.back{
  transform: rotate(90deg);
}

.forward{
  transform: rotate(-90deg);
}

*{
box-sizing: border-box;  
}

.slide{
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.fromright{
  animation: fromRight .5s ease;
}

@keyframes fromRight{
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.fromleft{
  animation: fromLeft .5s ease;
}

@keyframes fromLeft{
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}